<a href="javascript:void(0);" class="burger-menu-works" id="burger-menu" data-controller="burger-menu">
  <div class="line top"></div>
  <div class="line middle"></div>
  <div class="line bottom"></div>
</a>
<div class="container index_works">
  <a href="/dusk" title="Dusk"><%= image_tag 'D5.JPG', alt: "Dusk"%></a>
  <a href="/fragments_of_time" title="Fragments of Time"><%= image_tag 'fot3.jpg', alt: "Fragments of Time"%></a>
  <a href="/love_hurts" title="Love Hurts"><%= image_tag 'LH2.jpg', alt: "Love Hurts"%></a>
  <a href="/and_if_this_is_it" title="And If This Is It"><%= image_tag 'O2.png', alt: "And If This Is It"%></a>
  <a href="/only_fools_rush_in" title="Only Fools Rush In"><%= image_tag 'OF2.jpg', alt: "Only Fools Rush In"%></a>
  <a href="/rush_for_full" title="Rush for Full"><%= image_tag 'RF1.JPG', alt: "Rush for Full"%></a>
  <a href="/le_gout_de_dieu" title="Le Goût de Dieu"><%= image_tag 'LG1.png', alt: "LG"%></a>
</div>
