<div id="le_gout_de_dieu" class="sidenav-le-gout-de-dieu-page page backElement">
  <a href="javascript:void(0);" class="burger-menu-works" id="burger-menu" data-controller="burger-menu">
    <div class="line top"></div>
    <div class="line middle"></div>
    <div class="line bottom"></div>
  </a>
  <div class="img-works">
    <%= image_tag 'logoWhite.png', width: "100px" %>
  </div>
  <%# <header>"IF THIS IS IT"</header> %>
  <div class="container text">
    <div style="padding:56.25% 0 0 0;position:relative;">
      <iframe src="https://player.vimeo.com/video/1026535530?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="LE GOUT DE DIEU"></iframe>
    </div>
    <h3>LE GOÛT <br>DE DIEU</h3>
  </div>
  <div class="container text">
    <h4>DESCRIPTION</h4>
      <p>As we transition into adulthood, fear often becomes a pervasive force that can hinder growth and self-discovery. This fear stems from a multitude of sources—societal expectations, past experiences, and the unknown complexities of the future. It manifests as hesitation, self-doubt, and reluctance to venture beyond our comfort zones.</p>
      <p>In a philosophical exploration of this theme, an art piece could delve into the psychological and emotional barriers that fear creates. Through symbolic imagery, narrative, or abstract expression, the performance would examine the ways in which fear constrains our potential, limits our perspectives, and prevents us from embracing new opportunities and experiences.</p>
      <p>The piece could also highlight the paradoxical nature of fear, illustrating how things that didn't frighten us as children may become sources of anxiety and apprehension as adults. This evolution of fear underscores the transformative journey of growing up and the shifting perceptions that accompany it.</p>
      <p>Ultimately, the performance would challenge viewers to confront their fears, encouraging introspection and a deeper understanding of the self-imposed limitations that hold us back. It would advocate for courage, resilience, and the transformative power of facing our fears as essential steps towards personal growth and fulfillment.</p>
  </div>
  <div class="container text-sec">
    <h4>CHOREOGRAPHY</h4>
    <p>
      Julian Nicosia
    </p>
  </div>
  <div class="container text-sec">
    <h4>DANCER</h4>
    <p>
      Jacopo Giarda
    </p>
  </div>
  <div class="container text-sec">
    <h4>FILMING</h4>
    <p>
      Ruben Dario Banol at the Vitra Museum in Tadao Ando House
    </p>
  </div>
  <div class="container text-sec">
    <h4>COSTUME DESIGN</h4>
    <p>
      Julian Nicosia
    </p>
  </div>
  <div class="container text-sec">
    <h4>PHOTOS</h4>
    <div class="image-flex-off-canvas">
      <div class="photo">
        <%= image_tag 'LG2.png'%>
        <%# <img src="/assets/OF1-4c6421c396433af3c1de069348a42ad3b353e1d4655f0273839494f36a143ce1.jpg" alt="Fragments of Time 4"> %>
      </div>
      <div class="photo">
        <%# <img src="/assets/OF2-9d3326717715efa77ce39ab74917532bb24ca504cb12553e02bfccd86bc6beeb.jpg" alt="Fragments of Time 1"> %>
        <%= image_tag 'LG1.png'%>
      </div>
    </div>
    <div class="image-flex-off-canvas">
      <div class="photo">
        <%# <img src="/assets/OF3-cf83a4c5c6f80a384f6b925b11df2a27d424800b23e8f7e6c2062e7db76a454f.jpg" alt="Fragments of Time 2"> %>
        <%= image_tag 'LG3.png'%>
      </div>
      <div class="photo">
        <%# <img src="/assets/OF4-a1eded14490c2acb8d168458719b4bf275c4d968d0738929779af08075b7f8a5.jpg" alt="Fragments of Time 3"> %>
        <%= image_tag 'LG4.png'%>
      </div>
    </div>
  </div>
</div>
