<div class="sidenav-rush-for-full-page page">
  <a href="javascript:void(0);" class="burger-menu-works" id="burger-menu" data-controller="burger-menu">
    <div class="line top"></div>
    <div class="line middle"></div>
    <div class="line bottom"></div>
  </a>
  <div class="img-works">
    <%= image_tag 'logoWhite.png', width: "100px" %>
  </div>
  <div class="container text">
    <div style="padding:56.25% 0 0 0;position:relative;">
      <iframe src="https://player.vimeo.com/video/590595277?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="MARIA KOCHETKOVA / SEBASTIAN KLOBORG"></iframe>
    </div>
    <h1>RUSH <br>FOR FULL</h1>
  </div>
  <div class="container text">
    <h4>DESCRIPTION</h4>
    <p>
      “Rush for Full is a dynamic exploration of the human drive for completion and fulfillment. It captures the relentless pursuit of “more”—more achievement, more connection, more meaning—often at breakneck speed. Within its intensity lies a duality: the exhilaration of progress and the chaos of excess. The piece examines how striving for fullness can simultaneously elevate and overwhelm, leaving us to question what it truly means to be complete."</p>
    </p>
  </div>
  <div class="container text-sec">
    <h4>CHOREOGRAPHY</h4>
    <p>
      Julian Nicosia
    </p>
  </div>
  <div class="container text-sec">
    <h4>MUSIC</h4>
    <p>
      Michael Anklin & Janiv Oron
    </p>
  </div>
  <div class="container text-sec">
    <h4>DANCERS</h4>
    <p>
      Maria Kochetkova & Sebastian Kloborg
    </p>
  </div>
  <div class="container text-sec">
    <h4>World Premiere</h4>
    <p>
      *
    </p>
  </div>
  <div class="container text-sec">
    <h4>COSTUME DESIGN</h4>
    <p>
      1st part Julian Nicosia<br>
      2nd part Marine Serre x NIKE
    </p>
  </div>
  <div class="container text-sec">
    <h4>LIGHT DESIGN</h4>
    <p>
      Jonathan Jotter
    </p>
  </div>
  <div class="container text-sec">
    <h4>DURATION</h4>
    <p>
      8 minutes
    </p>
  </div>
  <div class="container text-sec">
    <h4>PHOTOS</h4>
    <p>Costin Radu</p>
    <div class="image-flex-off-canvas">
      <div class="photo">
        <%= image_tag 'RF3.jpeg'%>
      </div>
      <div class="photo">
        <%= image_tag 'RF5.JPG'%>
      </div>
    </div>
    <div class="image-flex-off-canvas">
      <div class="photo">
        <%= image_tag 'RF2.jpeg'%>
      </div>
      <div class="photo">
        <%= image_tag 'RF4.jpeg'%>
      </div>
    </div>
    <div class="image-flex-off-canvas">
      <div class="photo">
        <%= image_tag 'RF1.JPG'%>
      </div>
      <div class="photo">
        <%= image_tag 'RF6.JPG'%>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag 'swipe_back', 'data-turbo-track': 'reload' %>
