<div id="veil_of_perspective" class="sidenav-veil-of-perspective-page page backElement">
  <a href="javascript:void(0);" class="burger-menu-works" id="burger-menu" data-controller="burger-menu">
    <div class="line top"></div>
    <div class="line middle"></div>
    <div class="line bottom"></div>
  </a>
  <div class="img-works">
    <%= image_tag 'logoWhite.png', width: "90px" %>
  </div>
  <div class="container text">
    <div style="padding:56.25% 0 0 0;position:relative;">
      <iframe src="https://player.vimeo.com/video/1039723891?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="VEIL OF PERSPECTIVE"></iframe>
    </div>
    <h3>VEIL OF <br>PERSPECTIVE</h3>
  </div>
  <div class="container text">
    <h4>DESCRIPTION</h4>
      <p>Veil of Perspective reflects on the interplay between the visible and the hidden, where layers of perception shift like echoes in an endless expanse.</p>
    <p>It explores the tension between clarity and obscurity, suggesting that understanding is not a destination but a fleeting horizon.</p>
    <p>The veil does not obscure—it transforms, revealing the infinite within the seen and unseen.</p>
  </div>
  <div class="container text-sec">
    <h4>CHOREOGRAPHY</h4>
    <p>
      Julian Nicosia
    </p>
  </div>
  <div class="container text-sec">
    <h4>ARTISTIC DIRECTION</h4>
    <p>
      Norton Fantinel and Karina Moreira
    </p>
  </div>
  <div class="container text-sec">
    <h4>COMPANY</h4>
    <p>
      Arles youth Ballet Company
    </p>
  </div>
  <div class="container text-sec">
    <h4>FILMING</h4>
    <p>
      Valeria Lampadova
    </p>
  </div>
  <div class="container text-sec">
    <h4>COSTUME DESIGN</h4>
    <p>
      Julian Nicosia
    </p>
  </div>
  <div class="container text-sec">
    <h4>PHOTOS</h4>
    <p>Nathalie Sternalski</p>
    <div class="image-flex-off-canvas">
      <div class="photo">
        <%# <img src="/assets/OF4-a1eded14490c2acb8d168458719b4bf275c4d968d0738929779af08075b7f8a5.jpg" alt="Fragments of Time 3"> %>
        <%= image_tag 'vop5.jpg'%>
      </div>
      <div class="photo">
        <%# <img src="/assets/OF4-a1eded14490c2acb8d168458719b4bf275c4d968d0738929779af08075b7f8a5.jpg" alt="Fragments of Time 3"> %>
        <%= image_tag 'vop6.jpg'%>
      </div>
    </div>
    <div class="image-flex-off-canvas">
      <div class="photo">
        <%= image_tag 'vop4.jpg'%>
        <%# <img src="/assets/OF3-cf83a4c5c6f80a384f6b925b11df2a27d424800b23e8f7e6c2062e7db76a454f.jpg" alt="Fragments of Time 2"> %>
      </div>
      <div class="photo">
        <%= image_tag 'vop2.jpg'%>

        <%# <img src="/assets/OF4-a1eded14490c2acb8d168458719b4bf275c4d968d0738929779af08075b7f8a5.jpg" alt="Fragments of Time 3"> %>
      </div>
    </div>
      <div class="image-flex-off-canvas">
      <div class="photo">
        <%= image_tag 'vop1.jpg'%>
        <%# <img src="/assets/OF1-4c6421c396433af3c1de069348a42ad3b353e1d4655f0273839494f36a143ce1.jpg" alt="Fragments of Time 4"> %>
      </div>
      <div class="photo">
        <%# <img src="/assets/OF2-9d3326717715efa77ce39ab74917532bb24ca504cb12553e02bfccd86bc6beeb.jpg" alt="Fragments of Time 1"> %>
        <%= image_tag 'vop3.jpg'%>
      </div>
    </div>
  </div>
</div>
