<div class="main-container-home">
  <a href="javascript:void(0);" class="burger-menu" id="burger-menu" data-controller="burger-menu">
    <div class="line top"></div>
    <div class="line middle"></div>
    <div class="line bottom"></div>
  </a>
  <div id="logo-text">
    <a href="/">
      JULIAN NICOSIA
    </a>
  </div>
  <%# <%= asset_path('logoBlack.png')%>
  <div class="swiper-container-pc" data-controller="swiper-pc">
    <div id="meter">
    </div>
    <!-- Add navigation buttons -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-wrapper">
      <div class="swiper-slide" id="and-if-this-is-it">
        <div class="video-background">
          <iframe src="https://player.vimeo.com/video/1020732599?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;autoplay=1&amp;muted=1&amp;controls=0&amp;loop=1&amp;"
            frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
            style="width: 2000px;height: 1600px;z-index:-1;bottom:-30%; right:0%; transform:translate(-50%, 5%)">
          </iframe>
          <div class="work_text" id="text-info-1-pc">
            <h1 class="h1">"AND IF THIS IS IT"</h1>
            <%# <p class="p1">ROBERTO BOLLE & FRIENDS FESTIVAL</p>
            <p class="p2">World Premiere 25/04/2024</p> %>
            <a class="link" style="margin-left: 50px;" href="/and_if_this_is_it">More info
              <span style="margin-left: 20px;">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 9"><path d="M28.71,3.79,25.21.29a1,1,0,0,0-1.42,1.42l1.8,1.79H1a1,1,0,0,0,0,2H25.59l-1.8,1.79a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l3.5-3.5A1,1,0,0,0,28.71,3.79Z"/></svg>
              </span>
            </a>
            <%= image_tag('logoWhite.png')%>
          </div>
        </div>
      </div>
      <div class="swiper-slide" id="love-hurts">
        <div class="video-background">
          <iframe src="https://player.vimeo.com/video/1020747438?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;autoplay=1&amp;muted=1&amp;controls=0&amp;loop=1&amp;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
            style="width: 2000px;height: 1600px;z-index:-1;top:-55%; right:0%; transform:translate(-50%, 5%)" title="LOVE HURTS" class="swiper-video">
          </iframe>
          <div class="work_text" id="text-info-2-pc">
            <h1 class="h1">"LOVE HURTS"</h1>
            <%# <p class="p1">St GALLEN DANCE COMPANY</p>
            <p class="p2">World Premiere 16/03/2023</p> %>
            <a class="link" style="margin-left: 20px;" href="/love_hurts">More info
              <span style="margin-left: 20px;">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 9"><path d="M28.71,3.79,25.21.29a1,1,0,0,0-1.42,1.42l1.8,1.79H1a1,1,0,0,0,0,2H25.59l-1.8,1.79a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l3.5-3.5A1,1,0,0,0,28.71,3.79Z"/></svg>
              </span>
            </a>
            <%= image_tag 'logoWhite.png', style:"right:30px" %>
          </div>
        </div>
      </div>
      <div class="swiper-slide" id="fragments-of-time">
        <div class="video-background">
          <iframe src="https://player.vimeo.com/video/945962977?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;autoplay=1&amp;muted=1&amp;controls=0&amp;loop=1&amp" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title="&quot;FRAGMENTS OF TIME&quot; TRAILER"
            style="width: 2000px;height: 1600px;z-index:-1;top:-45%; right:0%; transform:translate(-50%, 5%)" class="swiper-video">
          </iframe>
          <div class="work_text" id="text-info-3-pc">
            <h1 class="h1">"FRAGMENTS OF TIME"</h1>
            <%# <p class="p1">Finnish National Ballet Youth Company</p>
            <p class="p2">World Premiere 11/04/2024</p> %>
            <a class="link" style="margin-left: 70px;" href="/fragments_of_time">More info
              <span style="margin-left: 20px;">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 9"><path d="M28.71,3.79,25.21.29a1,1,0,0,0-1.42,1.42l1.8,1.79H1a1,1,0,0,0,0,2H25.59l-1.8,1.79a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l3.5-3.5A1,1,0,0,0,28.71,3.79Z"/></svg>
              </span>
            </a>
            <%= image_tag 'logoWhite.png', style: "right:110px"  %>
          </div>
        </div>
      </div>
      <div class="swiper-slide" id="fragments-of-time">
        <div class="video-background">
          <iframe src="https://player.vimeo.com/video/904727804?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;autoplay=1&amp;muted=1&amp;controls=0&amp;loop=1&amp" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title="&quot;Le Goût de Dieu&quot;" style="width: 2000px;height: 1600px;z-index:-1;top:-45%; right:0%; transform:translate(-50%, 5%)" class="swiper-video"></iframe>
        </div>
      </div>
      <!-- Add more video slides -->
    </div>

  </div>
  <div class="swiper-container-phone" data-controller="swiper-phone">
    <div id="meter-phone">
    </div>
    <!-- Add navigation buttons -->
    <div id="phone-next" class="swiper-button-next"></div>
    <div id="phone-prev" class="swiper-button-prev"></div>
    <div class="swiper-wrapper">
      <div class="swiper-slide" id="and-if-this-is-it">
        <div class="video-background">
          <%# <div id="orsolina">
            <h1>ORSOLINA <span>28</span></h1>
            <p>ART FOUNDATION</p>
          </div> %>
          <iframe src="https://player.vimeo.com/video/1020732599?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;autoplay=1&amp;muted=1&amp;controls=0&amp;loop=1&amp;"
          frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
          style="width: 2000px;height: 1600px;z-index:-1;bottom:-30%; right:0%; transform:translate(-50%, 5%)"></iframe>
        </div>
        <div class="work_text" id="text-info-1-phone" data-controller="off-canvas">
          <h1 class="h1">"AND IF THIS IS IT"</h1>
          <%# <p class="p1">ROBERTO BOLLE & FRIENDS FESTIVAL</p>
          <p class="p2">World Premiere 25/04/2024</p> %>
          <a class="link"  href="javascript:void(0)" style="margin-left: 60px;" id="main-itii">More info
            <span style="margin-left: 20px;">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 9"><path d="M28.71,3.79,25.21.29a1,1,0,0,0-1.42,1.42l1.8,1.79H1a1,1,0,0,0,0,2H25.59l-1.8,1.79a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l3.5-3.5A1,1,0,0,0,28.71,3.79Z"/></svg>
            </span>
          </a>
          <%# <%= image_tag('logoWhite.png') %>
        </div>
      </div>
      <div class="swiper-slide" id="love-hurts">
        <div class="video-background">
          <iframe src="https://player.vimeo.com/video/1020747438?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;autoplay=1&amp;muted=1&amp;controls=0&amp;loop=1&amp;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
            style="width:1300px;height:1200px;z-index:-1;top:-50%; right:0%; transform:translate(-50%, 8%)" title="LOVE HURTS" class="swiper-video">
          </iframe>
          <div class="work_text" id="text-info-2-phone">
            <h1 class="h1">"LOVE HURTS"</h1>
            <%# <p class="p1">St GALLEN DANCE COMPANY</p>
            <p class="p2">World Premiere 16/03/2023</p> %>
            <a class="link"  href="javascript:void(0)" style="margin-left: 60px;" id="main-lh">More info
              <span style="margin-left: 20px;">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 9"><path d="M28.71,3.79,25.21.29a1,1,0,0,0-1.42,1.42l1.8,1.79H1a1,1,0,0,0,0,2H25.59l-1.8,1.79a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l3.5-3.5A1,1,0,0,0,28.71,3.79Z"/></svg>
              </span>
            </a>
            <%# <%= image_tag 'logoWhite.png', style:"right:30px"%>
          </div>

        </div>
      </div>
      <div class="swiper-slide" id="fragments-of-time">
        <div class="video-background">
          <iframe src="https://player.vimeo.com/video/945962977?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;autoplay=1&amp;muted=1&amp;controls=0&amp;loop=1&amp" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title="&quot;FRAGMENTS OF TIME&quot; TRAILER"
            style="width: 2000px;height: 1600px;z-index:-1;top:-100%; right:0%; transform:translate(-50%, 5%)" class="swiper-video">
          </iframe>
          <div class="work_text" id="text-info-3-phone">
            <h2>"FRAGMENTS OF TIME"</h2>
            <%# <p class="p1">Finnish National Ballet Youth Company</p>
            <p class="p2">World Premiere 11/04/2024</p> %>
            <a class="link" style="margin-left: 60px;" href="/love_hurts">More info
              <span style="margin-left: 20px;">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 9"><path d="M28.71,3.79,25.21.29a1,1,0,0,0-1.42,1.42l1.8,1.79H1a1,1,0,0,0,0,2H25.59l-1.8,1.79a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l3.5-3.5A1,1,0,0,0,28.71,3.79Z"/></svg>
              </span>
            </a>
            <%# <%= image_tag 'logoWhite.png', style:"right:" %>
          </div>
        </div>
      </div>
      <!-- Add more video slides -->
    </div>
  </div>
</div>
<div id="mySidenav-itii" class="sidenav-if-this-is-it">
  <div id="closebtn-itii" style="width:50px; height:50px">
    <span>&times;</span>
  </div>
  <div style= "position: absolute; top: 420px; left: 250px;">
    <%= image_tag 'logoBlack.png', width: "100px" %>
  </div>
  <%# <header>"IF THIS IS IT"</header> %>
  <div class="container text">
    <h4>DESCRIPTION</h4>
    <p>
      In a dance piece inspired by childhood friendships, dancers could portray the journey of connection and growth through fluid movements and playful interactions. The choreography would explore the innocence, joy, and challenges of forming bonds, highlighting the universal themes of empathy and human connection in a concise and evocative manner.
    </p>
  </div>
  <%# Iframe video %>
  <div style="padding:56.25% 0 0 0;position:relative;">
    <iframe src="https://player.vimeo.com/video/837475813?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="AND IF THIS IS IT"></iframe>
  </div>
  <div class="container text">
    <h4>CHOREOGRAPHY</h4>
    <p>
      Julian Nicosia
    </p>
  </div>
  <div class="container text-sec">
    <h4>MUSIC</h4>
    <p>
      Julian Nicosia
    </p>
  </div>
  <div class="container text-sec">
    <h4>DANCERS</h4>
    <p>
      Eve-Marie Dalcourt & Toon Lobach
    </p>
  </div>
  <div class="container text-sec">
    <h4>World Premiere</h4>
    <p>
      April 25th 2023 ROBERTO BOLLE & FRIENDS FESTIVAL
    </p>
  </div>
  <div class="container text-sec">
    <h4>DURATION</h4>
    <p>
      9 minutes
    </p>
  </div>
  <div class="container text-sec">
    <h4>PHOTOS</h4>
    <p>
      <img src="" alt="">
      <img src="" alt="">
      <img src="" alt="">
      <img src="" alt="">
      <img src="" alt="">
      <img src="" alt="">
    </p>
  </div>
</div>
<div id="mySidenav-lh" class="sidenav-love-hurts">
  <div id="closebtn-lh" style="width:50px; height:50px">
    <span>&times;</span>
  </div>
  <div style= "position: absolute; top: 720px; left: 250px;">
    <%= image_tag 'logoBlack.png', width: "100px" %>
  </div>
  <%# <header>"IF THIS IS IT"</header> %>
  <div class="container text">
    <h4>DESCRIPTION</h4>
    <p>
      "Love Hurts" delves into the intricate tapestry of human emotions, focusing on the paradoxical nature of love—a force both exhilarating and painful. This narrative contemplates the duality of love, where passion and pain coexist, challenging the idealized notion of love as an unending source of happiness. Through a series of interconnected stories, the exploration unfolds, revealing the complexities inherent in romantic relationships. It probes the depths of vulnerability, the fragility of intimacy, and the transformative power of love's trials and tribulations. The narrative invites readers to ponder the existential questions surrounding love: Can one truly experience love without confronting its inherent risks and vulnerabilities? Is the pain of love an inevitable part of its profound beauty? "Love Hurts" ultimately challenges us to embrace the complexities of love, acknowledging that its capacity to both uplift and wound us is what makes it a uniquely human experience, rich in its depth and paradoxical nature.
    </p>
  </div>
  <%# Iframe video %>
  <div style="padding:56.25% 0 0 0;position:relative;">
    <iframe src="https://player.vimeo.com/video/860823670?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="LOVE HURTS (full version)"></iframe>
  </div>
  <div class="container text">
    <h4>CHOREOGRAPHY</h4>
    <p>
      Julian Nicosia
    </p>
  </div>
  <div class="container text-sec">
    <h4>MUSIC</h4>
    <p>
      Julian Nicosia
    </p>
  </div>
  <div class="container text-sec">
    <h4>DANCERS</h4>
    <p>
      St Gallen Dance Company
    </p>
  </div>
  <div class="container text-sec">
    <h4>World Premiere</h4>
    <p>
      March 16th 2023
    </p>
  </div>
  <div class="container text-sec">
    <h4>DURATION</h4>
    <p>
      35 minutes
    </p>
  </div>
  <div class="container text-sec">
    <h4>PHOTOS</h4>
    <p>
      <img src="" alt="">
      <img src="" alt="">
      <img src="" alt="">
      <img src="" alt="">
      <img src="" alt="">
      <img src="" alt="">
    </p>
  </div>
</div>
<script src="https://player.vimeo.com/api/player.js"></script>
