<%=asset_path('OF1.jpg')%>
<%=asset_path('OF2.jpg')%>
<%=asset_path('OF3.jpg')%>
<%=asset_path('OF4.jpg')%>
<%=asset_path('OF5.jpg')%>

<%= image_tag 'LH2.jpg', width:"100px"%>
<div id="plus-btn" data-controller="plus">
  <span class="vertical"></span>
  <span class="horizontal"></span>
</div>
