<%=asset_path('vop5.jpg') %>
<%=asset_path('D5.JPG')%>
<%=asset_path('fot3.jpg')%>
<%=asset_path('LH2.jpg')%>
<%=asset_path('O2.png')%>
<%=asset_path('OF2.jpg')%>
<%=asset_path('RF4.jpeg')%>
<%=asset_path('LG1.png')%>
<%= image_tag 'RF1.JPG', width:"100px"%>
<div id="plus-btn" data-controller="plus">
  <span class="vertical"></span>
  <span class="horizontal"></span>
</div>
