<!DOCTYPE html>
<html>
  <head>
    <title>Julian Nicosia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <!--Cloudflare gallery-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>

    <!-- Favicon -->
    <%= favicon_link_tag 'logo.jpg' %>
    <link rel="icon" href='logo.jpg' type="image/x-icon">
    <link rel="icon" type="image/png" sizes="32x32" href='logo.jpg'>
    <link rel="icon" href='logo.jpg' sizes="32x32" type="image/x-icon">

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <!--Swiper link and script-->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <style>
      /* General reset */
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        overflow-y: scroll; /* Hide any overflow content */
      }

      .main-container {
        position: relative;
        width: 100%;
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div class="main-container" data-controller="swiper-pc swiper-phone works-list-disappear">
      <div id="menu-container" >
        <%= image_tag "/assets/logoWhite-941c41202184a68cca7dc87eb9ec20be26f774ed99022d1182a1edac03dce524.png", class:"logo-menu"%>
        <ul class="ul">
          <li id="julian"><a href="/home">J U L I A N N I C O S I A</a></li>
          <li id="works-list">
            <a href="/index_works">Works</a>
            <span id="plus-btn" data-controller="plus">
              <span class="vertical"></span>
              <span class="horizontal"></span>
            </span>
          </li>
            <ul id="works">
              <li><a href="/and_if_this_is_it">AND IF THIS IS IT</a></li>
              <li><a href="/love_hurts">LOVE HURTS</a></li>
              <li><a href="/fragments_of_time">FRAGMENTS OF TIME</a></li>
              <li><a href="/unspoken_thoughts">UNSPOKEN THOUGHTS</a></li>
              <li><a href="/le_gout_de_dieu">LE GOUT DE DIEU</a></li>
              <li><a href="/dusk">DUSK</a></li>
            </ul>
          <li><a href="/calendar">Calendar</a></li>
          <li><a href="/media">Media</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><div id="slide-indicator"></div></li>
          <ul class="d-flex text-center justify-content-around mt-5">
            <li><a href="https://www.linkedin.com/in/julian-nicosia-21136716b/"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 39 39"><path d="M19.2 0C8.596 0 0 8.59604 0 19.2001C0 29.8041 8.596 38.4002 19.2 38.4002C29.804 38.4002 38.4 29.8041 38.4 19.2001C38.4 8.59604 29.804 0 19.2 0ZM14.5 27.1581H10.612V14.6461H14.5V27.1581ZM12.532 13.1101C11.304 13.1101 10.51 12.2401 10.51 11.1641C10.51 10.066 11.328 9.22204 12.582 9.22204C13.836 9.22204 14.604 10.066 14.628 11.1641C14.628 12.2401 13.836 13.1101 12.532 13.1101ZM28.7 27.1581H24.812V20.2241C24.812 18.6101 24.248 17.5141 22.842 17.5141C21.768 17.5141 21.13 18.2561 20.848 18.9701C20.744 19.2241 20.718 19.5841 20.718 19.9421V27.1561H16.828V18.6361C16.828 17.0741 16.778 15.7681 16.726 14.6441H20.104L20.282 16.3821H20.36C20.872 15.5661 22.126 14.3621 24.224 14.3621C26.782 14.3621 28.7 16.0761 28.7 19.7601V27.1581Z"/></svg></a></li>
            <li><a href="https://www.instagram.com/juliannicosia/"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="M 16 3 C 8.8324839 3 3 8.8324839 3 16 L 3 34 C 3 41.167516 8.8324839 47 16 47 L 34 47 C 41.167516 47 47 41.167516 47 34 L 47 16 C 47 8.8324839 41.167516 3 34 3 L 16 3 z M 16 5 L 34 5 C 40.086484 5 45 9.9135161 45 16 L 45 34 C 45 40.086484 40.086484 45 34 45 L 16 45 C 9.9135161 45 5 40.086484 5 34 L 5 16 C 5 9.9135161 9.9135161 5 16 5 z M 37 11 A 2 2 0 0 0 35 13 A 2 2 0 0 0 37 15 A 2 2 0 0 0 39 13 A 2 2 0 0 0 37 11 z M 25 14 C 18.936712 14 14 18.936712 14 25 C 14 31.063288 18.936712 36 25 36 C 31.063288 36 36 31.063288 36 25 C 36 18.936712 31.063288 14 25 14 z M 25 16 C 29.982407 16 34 20.017593 34 25 C 34 29.982407 29.982407 34 25 34 C 20.017593 34 16 29.982407 16 25 C 16 20.017593 20.017593 16 25 16 z"/></svg></a></li>
            <li><a href="https://www.facebook.com/julian.nicosia.1"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19,3H5C3.895,3,3,3.895,3,5v14c0,1.105,0.895,2,2,2h7.621v-6.961h-2.343v-2.725h2.343V9.309 c0-2.324,1.421-3.591,3.495-3.591c0.699-0.002,1.397,0.034,2.092,0.105v2.43h-1.428c-1.13,0-1.35,0.534-1.35,1.322v1.735h2.7 l-0.351,2.725h-2.365V21H19c1.105,0,2-0.895,2-2V5C21,3.895,20.105,3,19,3z"/></svg></a></li>
          </ul>
        </ul>
      </div>

      <%= yield %>
      <%= render "shared/flashes" %>

    </div>
    <script src="https://player.vimeo.com/api/player.js"></script>
  </body>
</html>
